body {
    background-color: grey;
}

header {
    border: 1px solid black;
    margin: 0.5rem auto;
    height: 10%;
    width: 98%;
    background-image: url(../img/HeadImg.jpg);
    background-size: cover;
    background-position-x: 4rem;
    background-position-y: -5.5rem;

        h1 {
            font-family: $headFont;
            position: relative;
            top: 1.7rem;
            color: rgb(223, 127, 17);
        }

}
/* 
* Setting up main Grid layout.
*/
main {
    width: 98%;
    margin: 0.5rem auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
        /*
        * Adjusting where the main content (articles) will be in the grid aswell as
        * setting up another grid to adjust content within the articles if needed.
        */
        article {
            background-color: rgb(172, 172, 172);
            grid-column-start: 1;
            grid-column-end: 13;
            border: 1px solid black;
            width: 100%;
            margin: 0.5rem 0;
            display: grid;
            position: relative;
            grid-template-columns: repeat(12, 1fr);

                h2 {
                    font-family: $headFont;
                    margin: 0;
                    color: rgb(0, 255, 255);
                    position: absolute;
                }

                a {
                    transition: 0.25s;
                    :hover {
                        border-bottom: 2px solid red;
                    }
                }
                
                img {
                    margin: 0;
                    grid-column-start: 1;
                    grid-column-end: 13;
                }

                p {
                    font-family: $baseFont;
                    color: rgb(0, 0, 0);
                    margin: 0;
                    grid-column-start: 1;
                    grid-column-end: 13;
                }
        }
}

footer {
    background-color: rgb(223, 127, 17);
    border: 1px solid black;
    width: 98%;
    margin: 0.5rem auto;
    font-family: $baseFont;

    i {
        float: left;
        margin: 0 0.5rem 0 1rem;
        position: relative;
        top: 0.2rem;
    }
    
    h3 {
        font-family: $headFont;
    }

    ul {
        list-style: none;
        margin-left: 1rem;
        padding: 0;

        li {
            a {
                color: rgb(16, 3, 139);
                font-weight: bold;
                &:hover {
                    color: rgb(0, 255, 255);
                }
            }
        }
    }


}

