main 
{
    width: 60%;
    /*
    * First page settings.
    */
    #sectionOne 
    {
        /*
        * H1 for the site. "Oskar Lundberg"
        */
        #siteHead 
        {
            font-size: 12rem;
            .lastName 
            {
                bottom: 7rem;
            }
        }
    }
}

footer 
{
    width: 60%;
}