body 
{
    background-image: url(../img/backgroundImg.jpg);
    background-size: cover;
}
/* 
* Adjusting sizes for Desktop.
*/
main 
{
    width: 70%;
    /*
    * First page settings.
    */
    #sectionOne 
    {
        background-image: none;
        /*
        * H1 for the site. "Oskar Lundberg"
        */
        #siteHead 
        {
            font-size: 8rem;
            .lastName 
            {
                bottom: 5rem;
            }
        }
    }
        /*
        * Adjusting the second grid so img & p is next to eachother in desktop.
        */
        article 
        {
                .leftMain 
                {
                    grid-column-start: 1;
                    grid-column-end: 7;
                }

                #leftP 
                {
                    position: absolute;
                }

                .rightMain 
                {
                    grid-column-start: 7;
                    grid-column-end: 13;
                }

                h2 
                {
                    left: 0.5rem;
                }
        }
}

footer 
{
    width: 70%;
        .far 
        {
            display: none;
        }

        h3 
        {
            display: none;
        }

        ul 
        {
            display: flex;
            justify-content: space-between;
            margin: 0.5rem;
        }
}
