body 
{
    background-image: url(../img/backgroundImg.jpg);
    background-size: cover;
}
 

    main 
{
    width: 70%;
    #sectionOne 
    {
        /*
        * Removing the background on sectionOne because 
        * it is under body from now on.
        */
        background-image: none;
        #siteHead 
        {
            font-size: 6rem;

            .lastName 
            {
                bottom: 4rem;
            }
        }
    }   
}

footer 
{
    width: 70%;
}
