header {
    height: 10%;
    width: 90%;
}
main {
    width: 90%;
        /*
        * Adjusting where the main content (articles) will be in the grid aswell as
        * setting up another grid to adjust content within the articles if needed.
        */
        article {
            width: 100%;
        }          
}

footer {
    width: 90%;
}