@import 'variables';
@import 'base';

@media screen and (min-width: 481px) {
    @import 'tablet';
}

@media screen and (min-width: 769px) {
    @import 'laptop';   
}

@media screen and (min-width: 1026px) {
    @import 'desktop';
}

@media screen and (min-width: 1201px) {
    @import 'big';
}